<!doctype html>
<html dir="ltr" lang="en-US">
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <title>Dishcuss</title>
        
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Stylesheets -->
        <!-- <link rel="stylesheet" href="css/bootstrap.css" type="text/css" /> -->
        <link rel="stylesheet" href="css/font-awesome.css" type="text/css" />
        <link rel="stylesheet" href="style.css" type="text/css" />
        
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>
        <div id="wrapper">
            
            <header>
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <!-- LOGO -->
                            <a class="navbar-brand" href="#"><img src="img/logo.png" /></a>
                        </div>

                        <ul class="nav navbar-nav">
                            <li><a href="#!">Download App</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            
            <section id="intro">
                <div class="container">
                    <div class="intro-heading"><p>THE<br/>
                        FOODIES HUB!</p></div>
                    <div class="intro-tagline">
                        The Best Mobile App to Find your <br/> Dream Food Destination
                    </div>
                </div>
            </section>
            
            <section id="about">
                <div class="about-start">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <img class="about-img img-responsive" src="img/about-logo.png" />
                            </div>

                            <div class="col-sm-8 col-md-6">
                                <div class="about-tagline">
                                    Have you ever wondered<br/> what would happen if the food<br/> would become
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-3">
                                <div class="about-free">free?</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="about-description">
                        <h2 class="section-heading">WHAT IS <span style="color:#f6881f;">DISHCUSS?</span></h2>
                        
                        <div class="about-dishcuss">
                            <p>Dishcuss is a foodie’s hub which will help the people getting over the sentence "Kya treat de rha hai?" and "Aaj kya khayen?"</p>
                        
                            <p>Dishcuss is basically a social platform and a restaurant finder. Here you can have each and every information about the restaurants and  foodies of your localities. But how this social hub would help us to overcome above mentioned sentences.</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="food-pundits">
                <div class="container">
                    <h2 class="section-heading">THE FOOD <span style="color:#f6881f;">PUNDITS</span></h2>
                    
                    <div class="foods">
                        <div class="row">
                            <div class="col-sm-5 col-md-3">
                                <ul>
                                    <li><a class="foodlink" rel="desi">Desi Food Pundit</a></li>
                                    <li><a class="foodlink" rel="sasta">Sasta Food Pundit</a></li>
                                    <li><a class="foodlink" rel="fast">Fast Food Pundit</a></li>
                                    <li><a class="foodlink" rel="conti">Continental Food Pundit</a></li>
                                    <li><a class="foodlink" rel="foreign">Foreign Food Pundit</a></li>
                                </ul>
                            </div>
                            
                            <div class="col-sm-7 col-md-9 ">
                                <div class="desi-food-pundit" id="desi">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="food-description">
                                                <h4 class="food-title">Mr. Sheeda Pehalwan</h4>
                                                <div class="desi-description">
                                                    <p>Mr.Sheeda Pehalwan was a real gentleman before he tasted Nihaari at Waris. The taste of Nihaari twisted his life, and he fell in love with Desi Food, After that marvelous experience he tried every possible Desi Food at every food place, which ushers him to the Pundits Panel of Dishcuss.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="food-image">
                                                <img class="img-responsive" src="img/desi.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sasta-food-pundit" id="sasta">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="food-description">
                                                <h4 class="food-title">Mr. Miskeen</h4>
                                                <div class="sasta-description">
                                                    <p>People say love is blind, same is the case in the love for food. Food does not demand you to be in a booming status. Mr. Miskeen is our super food lover. He never limited himself for a weak pocket and tried all sorts of "sastey khaney” instead.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="food-image">
                                                <img class="img-responsive" src="img/sasta.png" />
                                            </div>
                                        </div>
                                        </div>
                                </div>

                                <div class="fast-food-pundit" id="fast">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="food-description">
                                                <h4 class="food-title">Miss Hawa Hawaii</h4>
                                                <div class="fast-description">
                                                    <p>Born into an opulent family, Miss Hawa Hawaii was raised up by eating every kind of fast foods. She has an eternal love for fast food but on the other hand due to her workout she is a smart lady. She tried every fast food in Lahore but she is still in a desire to try more. She is now available to guide you.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="food-image">
                                                <img class="img-responsive" src="img/fast-food.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="continental-food-pundit" id="conti">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="food-description">
                                                <h4 class="food-title">Mr. Braganza</h4>
                                                <div class="continental-description">
                                                    <p>Mr. Braganza was born in Europe with the utter love for continental food. He was always looking for a perfect meal which urged him to try each and every restaruant. He can guide you about continental food.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="food-image">
                                                <img class="img-responsive" src="img/continental.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="foreign-food-pundit" id="foreign">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="food-description">
                                                <h4 class="food-title">Mr. John Wick</h4>
                                                <div class="foreign-description">
                                                    <p>Travelling and food were the only two happenings of Mr. John wick's life. He travelled around the universe trying different dishes. With time his love for food and travelling keeps on increasing. But after his long journey of travelling and trying different  foods he wants to share his experience.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="food-image">
                                                <img class="img-responsive" src="img/foreign.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="how-works">
                <div class="container">
                    <h2 class="section-heading">HOW IT <span style="color:#f6881f;">WORKS</span></h2>
                </div>
                <div class="screens">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- Screen 1 -->
                                    <a class="phonescreens" rel="screen-1">
                                        <div class="inner-screens left-screen">
                                            <div class="screen-number">
                                                <p>1</p>
                                            </div>

                                            <h4 class="screen-heading">Review - Checkin - Refer</h4>

                                            <div class="screen-description">
                                                <p>First you have to collect the credits, for that purpose, refer a friend, leave a checkin or make a review.</p>
                                            </div>
                                            
                                            <div class="point-1">
                                                <img src="img/point-1.png" />
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-12">
                                    <!-- Screen 2 -->
                                    <a class="phonescreens" rel="screen-2">
                                        <div class="inner-screens left-screen">
                                            <div class="screen-number">
                                                <p>2</p>
                                            </div>

                                            <h4 class="screen-heading">The Wallet</h4>

                                            <div class="screen-description">
                                                <p>Keep a look at your wallet. It stores all your bucks for the delicious food.</p>
                                            </div>
                                            
                                            <div class="point-2">
                                                <img src="img/point-2.png" />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-sm-push-4">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- Screen 3 -->
                                    <a class="phonescreens" rel="screen-3">
                                        <div class="inner-screens right-screen">
                                            <div class="screen-number">
                                                <p>3</p>
                                            </div>

                                            <h4 class="screen-heading">The Offers</h4>

                                            <div class="screen-description">
                                                <p>Once your wallet is wealthy, check out the offers!</p>
                                            </div>
                                            
                                            <div class="point-3">
                                                <img src="img/point-3.png" />
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-12">
                                    <!-- Screen 4 -->
                                    <a class="phonescreens" rel="screen-4">
                                        <div class="inner-screens right-screen">
                                            <div class="screen-number">
                                                <p>4</p>
                                            </div>

                                            <h4 class="screen-heading">Eat</h4>

                                            <div class="screen-description">
                                                <p>Dine in the offered restaurant. Redeem by scanning QR Code. Enjoy your free meal.</p>
                                            </div>
                                            
                                            <div class="point-4">
                                                <img src="img/point-4.png" />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-sm-pull-4">
                            <div class="phone-screen">
                                <div id="screen-1">
                                    <img class="img-responsive" src="img/screen-1-home.png" />
                                </div>

                                <div id="screen-2">
                                    <img class="img-responsive" src="img/screen-2-wallet.png" />
                                </div>

                                <div id="screen-3">
                                    <img class="img-responsive" src="img/screen-3-offers.png" />
                                </div>

                                <div id="screen-4">
                                    <img class="img-responsive" src="img/screen-4-khabahistory.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
                <div id="screenCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#screenCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#screenCarousel" data-slide-to="1"></li>
                        <li data-target="#screenCarousel" data-slide-to="2"></li>
                        <li data-target="#screenCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <img src="img/screen-1-home.png" alt="Chania" width="260">
                            <div class="carousel-caption">
                                <h3>Review - Checkin - Refer</h3>
                                <p>First you have to collect the credits, for that purpose, refer a friend, leave a checkin or make a review.</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="img/screen-2-wallet.png" alt="Chania" width="260">
                            <div class="carousel-caption">
                                <h3>The Wallet</h3>
                                <p>Keep a look at your wallet. It stores all your bucks for the delicious food.</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="img/screen-3-offers.png" alt="Flower" width="260">
                            <div class="carousel-caption">
                                <h3>The Offers</h3>
                                <p>Once your wallet is wealthy, check out the offers!</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="img/screen-4-khabahistory.png" alt="Flower" width="260">
                            <div class="carousel-caption">
                                <h3>Eat</h3>
                                <p>Dine in the offered restaurant. Redeem by scanning QR Code. Enjoy your free meal.</p>
                            </div>
                        </div>

                    </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#screenCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#screenCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
            </section>
            
            <footer id="footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="widget-title">Download the <span style="color:#f6881f;">App Here</span></h4>

                                <div class="download-app">
                                    <a href="#!"><img src="img/app-store.png" /></a>
                                    <a href="!"><img src="img/play-store.png" /></a>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <h4 class="widget-title">Popular <span style="color:#f6881f;">Links</span></h4>

                                <ul class="popular-links">
                                    <li><a href="#!">Home</a></li>
                                    <li><a href="#!">Buy Credits</a></li>
                                    <li><a href="#!">Credits</a></li>
                                    <li><a href="#!">Contact Us</a></li>
                                </ul>
                            </div>

                            <div class="col-sm-3">
                                <h4 class="widget-title">We are <span style="color:#f6881f;">Social</span></h4>
                                
                                <div class="social-icons">
                                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="footer-copyrights">
                    <p><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2000 Dishcuss All Rights Reserved.</p>
                </div>
            </footer>
        </div>
        
        <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>