<link rel="stylesheet" type="text/css" href="css/ns-default.css" />
<link rel="stylesheet" type="text/css" href="css/ns-style-bar.css" />
<link rel="stylesheet" type="text/css" href="css/style.css">

<div id="wrapper">
	<header class="select_rest" role="main">
        <nav class="nav-top" id="sel_rest_zindex">
        	<div class="container-fluid">
            	<div class="row">
                	<div class="col-md-8 col-sm-8 col-xs-12">
        				<div class="logo">
            				<a href="#"><img src="img/logo_03.png" alt="image descraption"></a>
            			</div>
                	</div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    	<a href="#"><span class="food"><span>Foot Pandits</span></span></a>
                    	<a href="<%= signin_path %>"><span class="login"><span>Login</span></span></a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid" style="background-color: #e4761d;">
        	<div class="row" >
            	<div class="col-md-12 col-sm-12 col-xs-12">
                	<div class="main-s">
                        <div class="main-section">
                        	<h1>Welcome</h1>
                            <span>to the world</span><br><br><br>
                            <p>of foods</p>
                        	<img src="img/icon18.png">
                            <div class="main-section-update">
                            	<p>Select few of your favourite restaurent to stay</p>
                                <h2>updated about them</h2>
                                <div class="cup">
                                	<img src="img/icon20.png">
                                </div>
                                <div class="stoberry">
                                	<img src="img/img12.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-leftpan">
                        <img src="img/icon16.png" alt="image descrp">
                    </div>
                    <div class="main-rightpan">
                    	<img src="img/icon19.png" alt="image descrp">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid" style="margin-top: 250px;">
    	<article class="article">
        	<div class="row">
            	<div class="col-md-12">
                    <a href="#"><img src="img/img05.png" alt="image descrp"></a>
                    <a href="#"><img src="img/img06.png" alt="image descrp"></a>
                    <a href="#"><img src="img/img07.png" alt="image descrp"></a>
                    <a href="#"><img src="img/img08.png" alt="image descrp"></a>
                </div>
        	</div>
        </article>
        <article class="article">
        	<div class="row">
            	<div class="col-md-12">
                    <a href="#"><img src="img/img09.png" alt="image descrp"></a>
                    <a href="#"><img src="img/img11.png" alt="image descrp"></a>
                    <a href="#"><img src="img/img10.png" alt="image descrp"></a>
                    <a href="#"><img src="img/img09.png" alt="image descrp"></a>
                </div>
        	</div>
        </article>
    </div>
</div>