<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/ns-default.css" />
<link rel="stylesheet" type="text/css" href="css/ns-style-bar.css" />

<div id="wrapper">
	<header class="header" role="main">
    	<img src="img/img01.jpg" width="1440" height="900" alt="image descraption">
        <nav class="nav-top">
        	<div class="container-fluid">
            	<div class="row">
                	<div class="col-md-8 col-sm-8 col-xs-12">
        				<div class="logo">
            				<a href="#"><img src="img/logo_03.png" alt="image descraption"></a>
            			</div>
                	</div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    	<a href="#"><span class="food"><span>Foot Pandits</span></span></a>
                    	<a href="<%= signin_path %>"><span class="login"><span>Login</span></span></a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
        	<div class="l-main">
            	<div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="gander">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h1>Gender</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <a href="#"><img src="img/icon12.png" alt="image descrp"></a>
                                    <a href="#"><img src="img/icon13.png" alt="image descrp"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h1>Country</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                	<form class="form-horizontal" role="form">
                                        <div class="form-group">
                                          <label for="coun" class="control-label"></label>
                                          <div class="col-lg-12">
                                            <select id="coun" class="selectpicker show-tick form-control">
                                              <option selected>Pakistan</option>
                                              <option>Afganistan</option>
                                              <option>Karachi</option>
                                              <option>Amarica</option>
                                              <option>United kingdom</option>
                                              <option >Malaysia</option>
                                              <option>Ireland</option>
                                            </select>
                                          </div>
                                        </div>
                                      </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h1>City</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                          <label for="city" class="control-label"></label>
                                          <div class="col-lg-12">
                                            <select id="city" class="selectpicker show-tick form-control">
                                              <option>Lahore</option>
                                              <option>Multan</option>
                                              <option>Karachi</option>
                                              <option>Pashwar</option>
                                              <option>Islamabad</option>
                                              <option selected>Rawilpindi</option>
                                              <option>Marot</option>
                                            </select>
                                          </div>
                                        </div>
                                      </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h1>D-O-B</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                          <label for="dat" class="control-label"></label>
                                          <div class="col-lg-12">
                                            <select id="dat" class="selectpicker show-tick form-control">
                                              <option>01</option>
                                              <option>02</option>
                                              <option>03</option>
                                              <option>04</option>
                                              <option>05</option>
                                              <option selected>06</option>
                                              <option>07</option>
                                              <option>08</option>
                                              <option>09</option>
                                              <option>10</option>
                                              <option>11</option>
                                              <option>12</option>
                                              <option>13</option>
                                              <option>14</option>
                                              <option>15</option>
                                              <option>16</option>
                                              <option>17</option>
                                              <option>18</option>
                                              <option>19</option>
                                              <option>20</option>
                                              <option>21</option>
                                              <option>22</option>
                                              <option>23</option>
                                              <option>24</option>
                                              <option>25</option>
                                              <option>26</option>
                                              <option>27</option>
                                              <option>28</option>
                                              <option>29</option>
                                              <option>30</option>
                                              <option>31</option>
                                            </select>
                                          </div>
                                        </div>
                                      </form>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                          <label for="mont" class="control-label"></label>
                                          <div class="col-lg-12">
                                            <select id="mont" class="selectpicker show-tick form-control">
                                              <option value="01">Jan</option>
                                              <option value="02">Feb</option>
                                              <option value="03">Mar</option>
                                              <option value="04">Apr</option>
                                              <option value="05">May</option>
                                              <option value="06" selected>Jun</option>
                                              <option value="07">Jul</option>
                                              <option value="08">Aug</option>
                                              <option value="09">Sep</option>
                                              <option value="10">Oct</option>
                                              <option value="11">Nov</option>
                                              <option value="12">Dec</option>
                                            </select>
                                          </div>
                                        </div>
                                      </form>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                          <label for="year" class="control-label"></label>
                                          <div class="col-lg-12">
                                            <select id="year" class="selectpicker show-tick form-control">
                                              <option>2000</option>
                                              <option>2001</option>
                                              <option>2002</option>
                                              <option>2003</option>
                                              <option>2004</option>
                                              <option selected>2005</option>
                                              <option>2006</option>
                                              <option>2007</option>
                                              <option>2008</option>
                                              <option>2009</option>
                                              <option>2010</option>
                                              <option>2012</option>
                                              <option>2013</option>
                                              <option>2014</option>
                                              <option>2015</option>
                                              <option>2016</option>
                                            </select>
                                          </div>
                                        </div>
                                      </form>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-12">
                                	<input type="button" onclick="signupprofile();" class="form-control-next" placeholder="" value="Next">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    	<div class="profile">
                        	<h1>Profile Pic</h1>
                            <div class="row">
                            	<div class="col-md-4 col-sm-4 col-xs-12">
                                	<p>Upload</p>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                	<span class="file-wrapper">
                                    <input type="file" name="photo" id="photo" />
                                    <span class="button">Choose a Photo</span>
                                </span>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-12">
                                	<h1>Cover Pic</h1>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-10 pull-right">
                                	<div class="cover-photo">
                                		<span class="file-wrapper-cover">
                                    		<input type="file" name="photo" id="photo" />
                                    		<span class="button">Choose a Photo</span>
                                		</span>
                                	</div>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-1"></div>
                            	<div class="col-md-11">
                                	<input type="submit" class="form-control-skip" placeholder="" value="skip">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>